:root {
  --background-color: #ECF0F1;
  --input-color: #F9F871;
  --text-color: #4E8397;
  --primary-color: #52b788;
  --link-color: #845EC2;
  --visited-link-color: #D65DB1;
  --active-link-color: #FF6F91;
  --button-color: #FF9671;
  --header-color: #006d77;
  --main-font-size: 1.6rem;
  --padding: 3rem;
  --margin: 2rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 300%;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--padding);
  margin: var(--margin);
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--header-color);
  text-align: center;
}

p {
  font-size: var(--main-font-size);
  font-weight: 300;
  color: var(--input-color);
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0rem;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid white;
  border-top: 6px solid red;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.show {
  visibility: visible;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  cursor: grab;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 4px 0;
  border: none;
  width: 100%;
  background: #000;
  color: white;
  font-size: 18px;
  cursor: grabbing;
}

.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
